<%- include('../partials/header') %>

<form action="/skills" method="POST" autocomplete="off">
    <button type="submit">Save Skill</button>
    <input type="text" name="skill">
</form>

<%- include('../partials/footer') %>